/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  width: 50%;
  background-color: #4cbb17;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  color: white;
}
footer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 10px;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-column a {
  text-decoration: none;
}
footer .copyright {
  border-top: 0.5px solid lightgray;
  padding-top: 15px;
}
section {
  border: 1px solid black;
}
.container {
  padding: 10%;
}
.container .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .top-section .top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .about-section .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .services-section {
  background-color: #4cbb17;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .services-section .services-box {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .services-section .services-box .services-icon {
  background-color: lightgray;
  width: 300px;
  height: 200px;
}
.container .services-section .services-box .services-text {
  padding: 10px;
}
.container .faq-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .faq-section .faq-stats {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .faq-section .faq-questions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section {
  border: 1px solid black;
  background-color: #4cbb17;
  padding: 30px 10px;
}
