/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3.8rem;
  font-weight: 300;
}
h2 {
  font-size: 2.8rem;
  font-weight: 300;
}
h3 {
  font-size: 1.8rem;
  font-weight: 800;
}
h4 {
  font-size: 1.2rem;
  font-weight: 800;
}
p {
  font-size: 1.3rem;
  line-height: 1.4;
}
header {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  width: 50%;
  background-color: #4cbb17;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  color: white;
}
footer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 10px;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-column a {
  text-decoration: none;
}
footer .copyright {
  border-top: 0.5px solid lightgray;
  padding-top: 15px;
}
.container {
  padding: 5%;
}
.container .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .top-section .top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.container .top-section .top-text h1 {
  padding: 15px;
  text-align: center;
}
.container .top-section .top-text button {
  background-color: #4cbb17;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
}
.container .video-section {
  height: 500px;
  background-color: #4cbb17;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .video-section img {
  padding: 180px 0 140px 0;
}
.container .video-section .video-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 90px;
  color: white;
  line-height: 1.5;
}
.container .about-section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .about-section .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .about-section .about-text p {
  padding: 25px;
  text-align: center;
  color: gray;
}
.container .about-section .about-text button {
  background-color: white;
  color: #4cbb17;
  border: none;
  border-radius: 25px;
  border: 1px solid #4cbb17;
  padding: 10px 30px;
  margin: 30px 0;
}
.container .services-section {
  background-color: #4cbb17;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .services-section .services-box {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.container .services-section .services-box .services-icon {
  background-color: #f0efef;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .services-section .services-box .services-icon img {
  height: 60%;
}
.container .services-section .services-box .services-text {
  padding: 25px;
}
.container .services-section .services-box .services-text h3 {
  padding-bottom: 9px;
}
.container .faq-section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .faq-section .faq-stats {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .faq-section .faq-stats h1 {
  color: #4cbb17;
  padding: 5px;
}
.container .faq-section .faq-stats p {
  padding-bottom: 15px;
}
.container .faq-section .faq-questions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .faq-section .faq-questions p {
  text-align: center;
  padding: 20px;
}
.form-section {
  background-color: #4cbb17;
  color: white;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
.form-section p {
  padding: 10px 0 20px 0;
}
.form-section form {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-section form input[type=text],
.form-section form textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 0;
  margin-bottom: 15px;
}
.form-section form textarea {
  height: 100px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
}
.form-section form ::placeholder {
  color: white;
  padding: 0 15px;
}
.form-section form input[type=submit] {
  background-color: white;
  color: #4cbb17;
  border: none;
  border-radius: 25px;
  border: 1px solid #4cbb17;
  padding: 10px 30px;
  margin-bottom: 30px;
}
