// FOOTER

footer {
	border: 1px solid black;
	.flex-align(column, flex-start);
	padding: 40px 10px;

	.footer-column {
		.flex-align(column, flex-start);
		a {
			text-decoration: none;
		}
	}
	.copyright {
		border-top: 0.5px solid lightgray;
		padding-top: 15px;
	}
}
