header {
	padding: 15px 20px;
	.flex-align(row, center);
	justify-content: space-between;
	flex-wrap: wrap;

	.top-nav {
		&.hide {
			width: 0;
			display: none;
		}
		&.show {
			background-color: @main-color;
			padding: 20px;
			.flex-align(column, flex-end);
			justify-content: space-between;
			position: absolute;
			top: 105px;
			right: 8%;

			@media @desktop {
				background-color: @second-color;
				.flex-align(row, center);
				justify-content: space-around;
				padding: 0 0 0 40%;
				position: static;
			}
		}
		a.hide {
			width: 0;
			display: none;
		}
		a.showA {
			text-decoration: none;
			color: @second-color;
			padding: 5px;

			//background-color: @main-color;

			@media @desktop {
				color: black;
				padding: 10px;
				//background-color: @second-color;
			}
		}
	}
	button {
		border: none;
		cursor: pointer;
		outline: none;
	}
	.h-menu {
		position: relative;
		display: block;
		width: 30px;
		height: 26px;
		background: transparent;
		border-top: 4px solid;
		border-bottom: 4px solid;
		transition: all .25s ease-in-out;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			top: 50%;
			left: 50%;
			background: currentColor;
			transform: translate(-50%, -50%);
			transition: transform .25s ease-in-out;
		}
	}
	.active {
		border-color: transparent;
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
