header {
	padding: 15px 20px;
	.flex-align(row, center);
	justify-content: space-between;

	nav {
		width: 50%;
		background-color: @green;
		padding: 10px;
		.flex-align(row, center);
		justify-content: space-around;
		@media @desktop {
			background-color: white;
		}
		a {
			text-decoration: none;
			color: white;
			@media @desktop {
				color: black;
			}
		}
	}
}
